services:
  db:
    image: postgres:18.1
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/18/docker
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 20

  migrate:
    build:
      context: .
      target: final
    env_file:
      - .env.api.database
    image: multi-notifier-app:${APP_VERSION}
    depends_on:
      db:
        condition: service_healthy
    command: ["alembic", "upgrade", "head"]
    restart: "no"

  api:
    build:
      context: .
    env_file:
      - .env.api.common
      - .env.api.jwt
      - .env.api.database
    image: multi-notifier-app:${APP_VERSION}
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    ports:
        - "${APP_PORT}:80"
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "80", "--reload"]

volumes:
  pg_data: